@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Rubik;
}

section{
  width: 1440px;
  background-color: #ffffff;
  margin: auto;
  cursor: pointer;
  padding-top: 50px;
}

html, body{
  background-color: #000000;
  width: 100%;
}

header{
  display: flex;
  align-items: center;
  padding: 0 160px;
  justify-content: space-between;
  margin-bottom: 110px;
}

.nav-list{
  display: flex;
  gap: 50px;
}

header ul{
  display: flex;
  gap: 50px;
  align-items: center;
}

header ul > li{
  list-style-type: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(229, 31%, 21%);
}

header button{
  background-color: hsl(0, 94%, 66%);
  border-radius: 5px;
  border: none;
  padding: 12px 31px;
  letter-spacing: 2px;
  font-size: 12px;
  color: #ffffff;
}

.first-div{
  padding-left: 160px;
  display: flex;
  padding-right: 95px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 190px;
  position: relative;
}

.first-div-content{
  width: 37.2%;
}

.first-div h1{
  font-size: 40px;
  color: hsl(229, 31%, 21%);
  font-weight: 600;
  margin-bottom: 35px;
}

.first-div p{
  color: hsl(229, 8%, 60%);
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 35px;
}

.first-div-button{
  display: flex;
  align-items: center;
  gap: 10px;
}

.first-div-button button{
  padding: 14px 29px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
}

#chrome{
  background-color: hsl(231, 69%, 60%);
  color: #ffffff;
}

#firefox{
  color: hsl(229, 31%, 21%);
  box-shadow: 0 5px 10px #cac7c7;
}

.first-div-image{
  z-index: 100;
}

.background{
  width: 500px;
  height: 350px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  right: 0;
  top: 150px;
  border-bottom-left-radius: 30%;
}

.background-inverted{
  width: 500px;
  height: 350px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  left: 0;
  top: 230px;
  border-bottom-right-radius: 30%;
}

.second-div{
  width: 100%;
}

.second-div-content{
text-align: center;
width: 35.3%;
margin: auto;
margin-bottom: 80px;
}

.second-div-content h1{
  color: hsl(229, 31%, 21%);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

.second-div-content p{
  font-size: 17px;
  color: hsl(229, 8%, 60%);
  line-height: 26px;
}

.second-div-tab{
  width: 100%;
  padding: 0 175px;
  position: relative;
  margin-bottom: 250px;
}

.second-div-nav{
  width: 730px;
  margin: auto;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  margin-bottom: 70px;
}

.second-div-nav ul{
  display: flex;
  justify-content: space-between;
}

.second-div-nav ul > li{
  font-size: 15px;
  list-style-type: none;
  padding: 25px 40px;
}

.second-div-nav ul > li:hover{
  border-bottom: 4px solid hsl(0, 94%, 66%);
}

.add-border{
  border-bottom: 4px solid hsl(0, 94%, 66%);
}

.remove-border{
  border-bottom: none;
}

.features-container-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-container-div-image{
  z-index: 100;
}

.features-container-writeup{
  display: flex;
  flex-direction: column;
  width: 39.4%;
  gap: 25px;
}

.features-container-writeup h1{
  color: hsl(229, 31%, 21%);
  font-size: 30px;
  font-weight: 600;
}

.features-container-writeup button{
  width: 115px;
  padding: 14px 0;
  background-color: hsl(231, 69%, 60%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.features-container-writeup p{
  font-size: 17px;
  font-weight: 500;
  color: hsl(229, 8%, 60%);
  line-height: 25px;
}

.third-div-content{
  text-align: center;
width: 35.3%;
margin: auto;
}

.third-div-content h1{
  color: hsl(229, 31%, 21%);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

.third-div-content p{
  line-height: 25px;
  color: hsl(229, 8%, 60%);
  margin-bottom: 30px;
}

.third-div-container{
  width: 910px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 450px;
  margin-bottom: 160px;
}

.third-div-card-container{
box-shadow: 5px 25px 25px rgb(233, 229, 229);
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.third-div-card-container:nth-child(1){
  align-self: flex-start;
}

.third-div-card-container:nth-child(2){
  align-self: center;
}

.third-div-card-container:nth-child(3){
align-self: flex-end;
}

.third-div-card{
  display: flex;
  flex-direction: column;
  width: 280px;
  text-align: center;
}

.third-div-card img{
  width: 35.7%;
  margin: auto;
  margin-bottom: 35px;
  margin-top: 30px;
}

.third-div-card h1{
  margin-bottom: 20px;
  font-size: 20px;
  color: hsl(229, 31%, 21%);
}

.third-div-card p{
  margin-bottom: 40px;
  color: hsl(229, 8%, 60%);
}

.third-div-card hr{
  margin: auto;
  margin-bottom: 30px;
  border: 2px dashed hsl(229, 8%, 60%);
  width: 90%;
}

.third-div-card button{
  margin: auto;
margin-bottom: 30px;
width: 230px;
color: #ffffff;
background-color: hsl(231, 69%, 60%);
border: none;
padding: 17px;
border-radius: 5px;
}

.fourth-div{
text-align: center;
}

.fourth-div-content{
  text-align: center;
width: 35.3%;
margin: auto;
}

.fourth-div-content h1{
  color: hsl(229, 31%, 21%);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

.fourth-div-content p{
  line-height: 25px;
  color: hsl(229, 8%, 60%);
  margin-bottom: 30px;
  font-size: 17px;
  margin-bottom: 45px;
}

.collapsible-container{
  width: 550px;
  margin: auto;
}

.collapsible:nth-child(4){
border-bottom: 1px solid hsl(229, 8%, 60%);
}

.collapsible{
  border-top: 1px solid hsl(229, 8%, 60%);
  padding: 20px 0;
  position: relative;
}

.collapsible div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible i{
  margin-right: 20px;
  position: absolute;
  right: 0;
}

.fa-angle-up{
color: hsl(0, 94%, 66%);
font-size: 22px;
}

.fa-angle-down{
  color: hsl(231, 69%, 60%);
  font-size: 22px;
}

.collapsible h1{
  color: hsl(229, 31%, 21%);
  font-size: 18px;
  font-weight: 400;
}

.collapsible p{
  display: none;
  line-height: 35px;
  margin-top: 30px;
  color: hsl(229, 8%, 60%);
}

.fourth-div button{
  margin-top: 55px;
  margin-bottom: 150px;
  background-color: hsl(231, 69%, 60%);
  padding: 14px 27px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.fifth-div{
  text-align: center;
  background-color: hsl(231, 69%, 60%);
  padding: 70px 0;
}

.fifth-div p{
  font-size: 14px;
  letter-spacing: 7px;
  color: #ffffff;
  margin-bottom: 42px;
}

.fifth-div h1{
  width: 445px;
  margin: auto;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 45px;
  font-weight: 500;
}

.fifth-div div{
  display: flex;
  justify-content: space-between;
  width: 445px;
  margin: auto;
}

form{
width: 68%;
}

input{
  width: 100%;
  padding: 15px 20px;
  border-radius: 7px;
  border: none;
  outline: none;
}

.fifth-div button{
  width: 28%;
  border-radius: 7px;
  background-color: hsl(0, 94%, 66%);
  color: #ffffff;
  border: none;
}

footer{
  background-color: hsl(229, 31%, 21%);
  display: flex;
  padding: 25px 80px;
  align-items: center;
  justify-content: space-between;
}

footer ul{
  display: flex;
  gap: 45px;
}

footer ul li{
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
}

.logo-list-container{
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer-icons{
  color: #ffffff;
  font-size: 25px;
  display: flex;
  gap: 40px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 374px and BELOW */
@media screen and (max-width: 374px) {
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 375px TO 767px */

@media screen and (min-width: 375px) and (max-width: 767px) {
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 768px TO 1439px */

@media screen and (min-width: 768px) and (max-width: 1439px) {
}